<!DOCTYPE html>
<html>
<div id="container" style="color:rgb(81, 255, 0);">

</div>
<div id="calosc" style="color:white;">
</div>


<style></style>
<head>
  <title>Angular Tetris Game</title>
</head>
<body>
<div *ngIf="!isRegister">
  <h1>Exam Task</h1>
  <p>Tetris Game</p>

  <div>
    <label>Name: <input type="text" [(ngModel)]="player.name"/></label><br/>
    <label>E-mail: <input type="text" [(ngModel)]="player.email"/></label><br/>
  </div>

  <button (click)="start()">PLAY</button>
</div>

<app-game *ngIf="isRegister" [player]="player" (onExitGame)="onExitGame($event)"></app-game>
</body>
</html>
